<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>

    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../../../externalLibraries/jquery-ui.css">

    <link rel="import" href="../../../inhouseComponents/tagsView/tagsView.html">

    <script type="text/javascript" src="../../../externalLibraries/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="../../../externalLibraries/jquery-ui.js"></script>
    <script type="text/javascript" src="../../../externalLibraries/angular.js"></script>

    <script type="text/javascript" src="../../../externalLibraries/reactjs/react.js"></script>
    <script type="text/javascript" src="../../../externalLibraries/reactjs/JSXTransformer.js"></script>

    <script type="text/javascript" src="../business/Business.js"></script>
    <script type="text/javascript" src="../presenters/ProductTagsTreePresenter.js"></script>
    <script type="text/javascript" src="../presenters/ProductsPresenter.js"></script>
    <script type="text/javascript" src="../../../interactors/ProductsInteractor.js"></script>
    <script type="text/javascript" src="../../../interactors/TagsInteractor.js"></script>


    <script type="text/javascript" src="../../../tacks/MockDataForTags.js"></script>
    <script type="text/javascript" src="../../../tacks/MockDataForProducts.js"></script>
    <script type="text/jsx" src="../views/ProductsView.js"></script>
    <script type="text/jsx" src="../views/StateDemoProducts.js"></script>

</head>
<body>
<div ng-app="store">
    <div ng-controller="TreeController as tree" >
    <div id="abc">
        <!--<script type="text/ng-template" id="tagElement.html">
            <div class="tagListElWrapper">
                <div class="tagListElText">{{tag.name}}</div>
                <input class="tagListElRel" ng-model="tag.relevance">
                <div class="tagListElSlider"></div>
            </div>
        </script>-->
    </div>

    <div class = "TreeContainer">
        <div ng-controller="ButtonController as button">
            <button id="switchToProduct1" ng-click="button.getProductTags(tree,1)">Product - 1</button>
            <button id="switchToProduct2" ng-click="button.getProductTags(tree,2)">Product - 2</button>
            <button id="switchToProduct3" ng-click="button.getProductTags(tree,3)">Product - 3</button>
            <button id="switchToProduct4" ng-click="button.getProductTags(tree,4)">Product - 4</button>
            <button id="switchToProduct5" ng-click="button.getProductTags(tree,5)">Product - 5</button>
        </div>
        <div class="tagTreeWrapper">
            <div ng-repeat="tag in tree.tags">
                {{tag.relevance}}
                <tag-element></tag-element>
            </div>
        </div>
    </div>

    <product-container > </product-container>

    <!--<productChanger>
    &lt;!&ndash;<div id="productsChanger">&ndash;&gt;
        <input type="text" class="productInput" ng-model="productName"><br>
        <input type="text" class="productInput" ng-model="productName"><br>
        <input type="text" class="productInput"><br>
        <input type="text" class="productInput"><br>
        <input type="text" class="productInput"><br>
    &lt;!&ndash;</div>&ndash;&gt;
    </productChanger>-->
    </div>
</div>

<div id="productsContainer"></div>

<script type="text/javascript" src="../presenters/HomeScreenPresenter.js"></script>
</body>

</html>