.productThumb{
    height: 25px;
    width: 200px;
    background: #eee;
    padding: 9px;
    font-weight: bold;
    text-align: center;
    margin: 4px;
}

.productId{

}

.productTitle{

}

div[ng-app="store"]{
    width: 100%;
    display: inline-block;
    float: left;
}

#productsContainer{
    width: 25%;
    display: inline-block;
    float: left;
}

#productsChanger {
    float: left;
}

.productCount{
    font-weight: normal;
    color: #999;
}

.productInput {
}

.TreeContainer {
    float: left;
}