.productThumb{
    height: 75px;
    width: 200px;
    background: #eee;
    padding: 9px;
    font-weight: bold;
    text-align: center;
    margin: 4px;
}

.productId{

}

.productTitle{

}

div[ng-app="store"]{
    width: 50%;
    display: inline-block;
    float: left;
}

#productsContainer{
    width: 45%;
    display: inline-block;
    float: left;
}

.productCount{
    font-weight: normal;
    color: #999;
}